<!-- <div class="timeslotShowall">
    <div class="container"> -->
<div class="slotComponent">
   <div class="container">
        <div class="slotBg">
            <h2> Timeslots </h2>
            <div class="table-responsive">
                <table class="table table-striped text-center" style="margin:0">
                    <thead>
                        <tr>
                            <th class="col-md-4">Time/Date </th>
                            <th class="col-md-4">Time Slot </th>
                            <th class="col-md-4">Availability </th>
                        </tr>
                    </thead> 
                </table>
                <div style="height:430px;overflow:auto;">
                    <table class="table table-striped text-center">
                        <tbody>
                            <tr ng-repeat="ts in $ctrl.alltimeslot | orderBy: 'date'">
                                <td class="col-md-4">{{ts.date | myShowDateFilter}}</td>
                                <td class="col-md-4">{{ts.timeslot}}</td>
                                <td class="col-md-4">{{ts.availabilityCount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div  <div class="bottom-btn">
                <input class="btn btn-primary cancel" ng-click="$ctrl.cancelshowall()" value="Cancel" type="button">
            </div>
        </div>
    </div>
</div>
