<div ng-if="$ctrl.isSuperAdmin">
  <div class="container">
    <div class="row" style="margin-top:30px;">
      <div class="pull-left" style="margin-left:15px;">
         <input class="btn btn-lg btn-primary" ng-click="$ctrl.addadmin()" value="Add Admin" type="button">
      </div>
      <div class="pull-right" style="margin-right:0cm;">
         <input class="btn btn-lg btn-primary" value="Continue" ui-sref="index" type="button">
         <br/>
      </div>
    </div>
    <br>

      <div class="form-group has-feedback has-clear">
        <input type="text" class="form-control pull-left" ng-model="$ctrl.searchUser" placeholder="Search...">
        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback " ng-if="$ctrl.searchUser" ng-click="$ctrl.reset()" style="z-index: 10;pointer-events: auto;cursor: pointer;opacity:0.4"></span>
      </div>
    <br><br>

    <div class="table table-border text-center" style="margin:0">
      <table class="table table-border table-fixed" style="margin:0">
        <thead> 
          <tr>
            <th style="font-size: 13px;" class="col-md-3">Email</th>
            <th style="font-size: 13px;" class="col-md-1">Super Admin</th>
            <th style="font-size: 13px;" class="col-md-1">Admin</th>
            <th style="font-size: 13px;" class="col-md-1">Pickup/Delivery</th>
            <th style="font-size: 13px;" class="col-md-1">Customers</th>
            <th style="font-size: 13px;" class="col-md-1">Inventory</th>
            <th style="font-size: 13px;" class="col-md-1">Warehouse</th>
            <th style="font-size: 13px;" class="col-md-2">Action</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table table-border text-center">
      <div style="height:450px;overflow:auto;">
        <table class="table table-border table-fixed">
          <tbody>
            <tr ng-repeat="ad in $ctrl.adminList | filter: $ctrl.searchUser" ng-click="$ctrl.selectRow($index)" ng-class="{'highlight': $index == $ctrl.selectedRow}">
              <td style="font-size: 13px;" class="col-md-3">{{ad.email}}</td>
              <td style="font-size: 13px;" class="col-md-1">{{ad.role == 10 | YesNo}}</td>
              <td style="font-size: 13px;" class="col-md-1">{{ad.role == 4 | YesNo}}</td>
              <td style="font-size: 13px;" class="col-md-1">{{ad.role == 0 | YesNo}}</td>
              <td style="font-size: 13px;" class="col-md-1">{{ad.role == 1 | YesNo}}</td>
              <td style="font-size: 13px;" class="col-md-1">{{ad.role == 2 | YesNo}}</td>
              <td style="font-size: 13px;" class="col-md-1">{{ad.role == 3 | YesNo}}</td>
              <td style="font-size: 13px;" class="col-md-2"><button type="button" ng-click = "$ctrl.edit(ad, $index)" class="btn btn-sm btn-primary">Edit</button>&nbsp;&nbsp;&nbsp;<button type="button" ng-click = "$ctrl.delete(ad.email)" class="btn btn-sm btn-danger">Delete</button> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

