
<!-- / component4 \ -->

<a id="top" style="position:absolute;margin-top:-200px "></a>

<div class="component4">

	<div class="container">
		<br>
        <input type="text" class="form-control pull-right" ng-model="$ctrl.searchTruck" placeholder="Search Trucks..." ng-keyup="$ctrl.search($ctrl.searchTruck)">
        <br><br><br>
		<div class="component-bg">
		
			<ul infinite-scroll="$ctrl.getTrucks($ctrl.lastKey, $ctrl.limit)">
				<li><a href="" ng-click="$ctrl.addTruck()" class="drive">Add Trucks</a></li>

				<li class="full" ng-repeat="truck in $ctrl.trucks" ng-click="$ctrl.showDetails(truck)">
					<a href=""><img style="width: 209px; height: 207px" ng-src="{{truck.images && truck.images.length >0 ? truck.images[0].url : 'img/truck_image.jpg'}}"></a>
					<h2><a href="">{{truck.truckType || 'No Name' | myUpperCaseFilter}}</a></h2>
				</li>
		
				<div class="loading" ng-hide="$ctrl.initLoader">
           			Loading&#8230;
        		</div>

				<li style=" background-color: lightblue; width: 209px; height: 207px" class="full" ng-hide="!$ctrl.showLoader">
					<div class="loader">
					</div>
				</li>
		
			</ul>

			<div class="clear"></div>
	      
		</div>	

	</div>

</div>
<!-- \ component4 end / -->


<!-- BackToTop Script & Button  START-->
<div>
	<a ng-click="$ctrl.gotoTop()" class="scrollToTop">Go to top<span></span></a>
</div>
<!-- BackToTop Script & Button  END-->