
<div class="slotComponent">
   <div class="container">
        <div class="slotBg">
            <h2> Assigned Drivers </h2>
            <div class="table-responsive">
                <table class="table table-striped text-center" style="margin:0">
                    <thead>
                        <tr>
                            <th class="col-md-4">Date </th>
                            <th class="col-md-4">Name </th>
                            <th class="col-md-4">DriverID </th>
                        </tr>
                    </thead> 
                </table>
                <div style="height:430px;overflow:auto;">
                <table class="table table-striped text-center">
                    <tbody>
                        <tr ng-repeat="list in $ctrl.assigned">
                            <td class="col-md-4">{{list.date | myShowDateFilter}}</td>
                            <td class="col-md-4">{{list.firstName}}&nbsp;{{list.lastName}}</td>
                            <td class="col-md-4">{{list.driverID}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div  <div class="bottom-btn">
                <input class="btn btn-primary cancel" ng-click="$ctrl.cancel()" value="Cancel" type="button">
            </div>
        </div>
    </div>
</div>
