<div class="timeslotComponent">
   <div class="container">
      <br>
      <a ng-click="$ctrl.addTimeslot()" class="btn btn-sm btn-success">Add Timeslot</a>
      <a ng-click="$ctrl.showallTimeslot()" class="btn btn-sm btn-success">Show All</a>
      <br><br>

      <!-- <div class="row-fluid">
         <div class="span12 text-center">
            <div class="pull-left">
               <a ng-click="$ctrl.prevTimeslot()" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-fast-backward"></span> Prev.
               </a>
            </div>
               {{$ctrl.weekDate[0]}} To {{$ctrl.weekDate[5]}}
            <div class="pull-right">
               <a ng-click="$ctrl.nextTimeslot()" class="btn btn-default btn-sm">
               <span class="glyphicon glyphicon-fast-forward"></span> Next
               </a>
            </div>
         </div>
      </div>
      <br>
   -->



   <div class="row-fluid">
      <div class="span12 text-center">
         <h3>{{$ctrl.weekDate[0]}} To {{$ctrl.weekDate[5]}}</h3>
      </div>
   </div>



   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12" > 
            <div class="col-lg-1 row-log-" style="margin-top:10%;">
               <a ng-click="$ctrl.prevTimeslot()" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-fast-backward"></span>
               </a>
            </div>
            <div class="col-lg-10">
               <div ng-if="!$ctrl.noResponse">
                  <table class="table table-striped">
                     <thead>
                        <tr>
                           <th>Day</th>
                           <th>Date\Time</th>
                           <th ng-repeat="time in $ctrl.slotTime">
                              {{time}}
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="weekDate in $ctrl.weekDate">
                           <th>{{$ctrl.weekDay[$index]}}</th>
                           <th>{{weekDate}}</th>
                           <td ng-repeat="timeslot in $ctrl.rDateData[$index]" style="padding: 8px 4px;">
                              Availability Count: {{timeslot.availabilityCount}}
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>

               <div ng-if="$ctrl.noResponse">
                  <h3>.......No Record Found.......</h3>
               </div>
            </div>
            <div class="col-lg-1"  style="margin-top:10%;">
               <a ng-click="$ctrl.nextTimeslot()" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-fast-forward"></span>
               </a>
            </div>
         </div>
      </div>
   </div>







      <!-- <div ng-if="!$ctrl.noResponse">
         <table class="table table-striped">
            <thead>
               <tr>
                  <th>Day</th>
                  <th>Date\Time</th>
                  <th ng-repeat="time in $ctrl.slotTime">
                     {{time}}
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="weekDate in $ctrl.weekDate">
                  <th>{{$ctrl.weekDay[$index]}}</th>
                  <th>{{weekDate}}</th>
                  <td ng-repeat="timeslot in $ctrl.rDateData[$index]">
                     Availability Count: {{timeslot.availabilityCount}}
                  </td>
               </tr>
            </tbody>
         </table>
      </div>

      <div ng-if="$ctrl.noResponse">
         <h3>.......No Record Found.......</h3>
      </div> -->

   </div>
</div>