<div class="timeslotComponent">
   <div class="container">
      <br>

      <div class="pull-left" style="margin-left: 0;margin-right: 60%;">
            <a ng-click="$ctrl.addTimeslot()" class="btn btn-sm btn-success">Add Timeslot</a>
            <a ng-click="$ctrl.showallTimeslot()" class="btn btn-sm btn-success">Show All</a>
      </div>
      
      <div class="col-sm-3">
         <datepicker date-format="MM.dd.yyyy" date-week-start-day="1" selector="form-control">
            <div class="input-group">
                  <input ng-model="$ctrl.selectedDate" class="form-control" placeholder="Choose a date"/>
                  <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search" ng-click="$ctrl.getTimeslotsByDate($ctrl.selectedDate)" style="opacity: 0.6;cursor:pointer;"></span>
                  </span>
            </div>
         </datepicker>
      </div>

      <div class="row-fluid">
         <div class="span12 text-center">
            <h4 style="font-size: 15px;font-weight: bold;text-decoration: underline;">{{$ctrl.weekDate[0] | myShowDateFilter}} &nbsp; To &nbsp; {{$ctrl.weekDate[6] | myShowDateFilter}}</h4>
         </div>
      </div>


      <div class="container-fluid"> 
         <div class="row"> 

            <div style="position:relative;">
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th style="width:9%;">Day</th>
                        <th style="width:9%;">Date\Time</th>
                        <th ng-repeat="time in $ctrl.slotTime">{{time}}</th>
                     </tr>
                  </thead>
                  <tbody >
                     <tr ng-repeat="weekDate in $ctrl.weekDate">
                     <th style="padding:20px 0 20px 0px;">{{$ctrl.weekDay[$index]}}</th>
                        <th style="padding:20px 0 20px 0px;">{{weekDate | myShowDateFilter}}</th>
                        <td ng-repeat="timeslot in $ctrl.rDateData[$index]"  style="padding: 10px 0 10px 20px;">
                           Availability Count:<b>{{timeslot.availabilityCount}}</b><br>
                           Booked Count:<b>{{timeslot.bookedCount}}</b> 
                        </td>
                     </tr>
                  </tbody>
               </table>

<!-- Next - Prev Button START-->
               <div>
                  <a class="left carousel-control" ng-click="$ctrl.prevTimeslot()" style="margin:0 0 0 -40px;width: 50px; border-radius: 50% 0% 0% 50%;">
                  <span class="glyphicon glyphicon-chevron-left" style="color: black; cursor:pointer;"></span>
                  </a>
                  <a class="right carousel-control" ng-click="$ctrl.nextTimeslot()" style="margin:0 -40px 0 0;width: 50px; border-radius: 0% 50% 50% 0%">
                  <span class="glyphicon glyphicon-chevron-right" style="color: black; cursor:pointer;"></span>
                  </a>
               </div>

                <!-- <div>
                  <a class="left carousel-control" ng-click="$ctrl.prevTimeslot()" style="margin:201px 0 15px 2%;width: 50px; border-radius: 50% 0% 0% 50%">
                  <span class="glyphicon glyphicon-chevron-left" style="color: black; cursor:pointer;"></span>
                  </a>

                  <a class="right carousel-control" ng-click="$ctrl.nextTimeslot()" style="margin:201px 3% 15px 0;width: 50px; border-radius: 0% 50% 50% 0%">
                  <span class="glyphicon glyphicon-chevron-right" style="color: black; cursor:pointer;"></span>
                  </a>
               </div> -->
<!-- Next - Prev Button END -->

            </div>


            <div ng-if="$ctrl.noResponse">
               <h4 style="margin:-25% 0 20% 3%;">No Record Found</h4>
            </div>

            <div class="loading" ng-hide="$ctrl.initLoader">
               Loading&#8230;
            </div>

         </div>
      </div>

   </div>
</div>